{% extends "base.html" %}

{% block title %}Home - Minimalist Website{% endblock %}

{% block header %}minimalist website{% endblock %}

{% block content %}
<h2>welcome</h2>
<p>Hello Comrade's!<br>My name is DJ and i write about philosophy, physics and technology.Other than that i exploit my physical powerers in leisure time, if you are not sure about what's that lets "ROLL"!!!</p>
<p>It features:</p>
<ul>
    <li>Clean, monospace typography</li>
    <li>Minimalist design principles</li>
    <li>Simple HTML structure</li>
    <li>Responsive layout</li>
</ul>

<h2>getting started</h2>
<p>To run this website locally:</p>
<pre><code>python main.py</code></pre>
<p>Then open your browser and navigate to <code>http://localhost:5000</code></p>

<h2>customize</h2>
<p>Edit the templates in the <code>templates/</code> directory and styles in <code>static/css/style.css</code> to customize the appearance.</p>
{% endblock %}

