{% extends "base.html" %}

{% block title %}DJ{% endblock %}

{% block header %}portfolio{% endblock %}

{% block content %}
<h2>PHONE PHONE O MY PHONE…</h2>

<p>PHONE PHONE O MY PHONE..<br>
THANKS FOR PULLING ME OUT OF THE ZONE<br>
SCROLLING YOU SINCE AROUND 30 YRS<br>
LOOKS LIKE NOW, MY FAMILY IS GONE</p>

<p>PHONE PHONE O MY PHONE..<br>
WHAT TO SAY WHAT TO WRITE,<br>
CAN'T READ IN DARK, CAUSE SCREEN TOO BRIGHT<br>
Oo ITS 12 MIDNIGHT , LETS WATCH AN EPISODE , CAUSE I HAVE MORROW'S FLIGHT</p>

<p>PHONE PHONE O MY PHONE<br>
MY FRIEND , MY GREED , O MY WAR-ZONE<br>
U MY LOVER , FORVER TOGETHER<br>
CAUSE EVERYONE LEFT ME , WHENEVER WHATEVER !</p>

<p><a href="{{ url_for('literary') }}">← back to literary works</a></p>
{% endblock %}
